.faq-title-wrapper {
   & .section-title-4 {
        & h3 {
            & .round-line {
                color: $theme-color4;
                &::before {
                    left: -23px;
                    top: -17px;
                    background: url(../img/shape/br7a.svg) no-repeat;
                    width: 320px;
                    height: 98px;
                }
            }
        }
        & h5 {
            font-size: 20px;
            font-family: $rubik;
            font-weight: 400;
            line-height: 1.7;
            margin-bottom: 50px;
            & a {
                color: #3489D1;
                border-bottom: 1px solid #3489D1;
            }
        }
    } 
}

.card {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
   & .card-header {
        border: none;
        background: 0;
        border-radius: 0;
        padding: 0;
       & button {
            background: transparent;
            border: none;
            border-radius: 0;
            color: $black;
            font-size: 22px;
            font-family: $rubik;
            font-weight: 400;
            display: block;
            padding: 30px 15px;
            width: 100%;
            text-align: left;
            position: relative;
            border-top: 1px solid $black;
            transition: unset;
            white-space: normal;
            z-index: 1;
        @media #{$lg} {
            font-size: 18px;
        }
        @media #{$xs} {
            font-size: 18px;
        }
        &.btn-link {
            
             &::after {
                 content: '';
                 position: absolute;
                 background: url(../img/icon/chevrondown.svg) no-repeat;
                 width: 15px;
                 height: 9px;
                 right: 0;
                 top: 47%;
                 z-index: 1;
                 transform: rotate(-180deg);
                 @include transition(.3s);
             }
            &.collapsed {
                &::after {
                    transform: rotate(0deg);
                }
            }
        }
        

            .btn-link.focus,
            &:focus {
                text-decoration: none;
                border-color: transparent;
                box-shadow: none;
            }

            &:hover {
                color: $black;
                text-decoration: none;
                
            }
        }
    }
    .card-body {
        padding-top: 0;
        @media #{$xs} {
            font-size: 16px;
        }
    }
    &:last-child {
        & .card-header {
            & button {
                border-bottom: 1px solid $black;
            }
        }
    }
}

//faq-que-2
.faq-title-2a {
    & .section-title {
        & h3 {
            & .round-line {
                &::before {
                    left: -8px;
                    top: -17px;
                }
            }
        }
    }
}
.faq-que-2 {
   & .card {
       & .card-header {
            & button {
                font-size: 24px;
                border-top-color: #DEDEDE;
                @media #{$xs} {
                    font-size: 20px;
                    padding-right: 35px;
                }
                &::after {
                    right: 15px;
                }
            }
       } 
       &:last-child {
           & .card-header {
               & button {
                   border-bottom: 1px solid #DEDEDE;
               }
           }
       }
       .collapse.show {
           border-bottom: 5px solid $theme-color;
       }
    }
}
.get-answer {
    & h3 {
        color: $black;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    & .faq-btn {
        text-transform: initial;
    }
}

.faq-que-search {
    & .subscribe-form {
         & input {
             color: $black;
             font-style: normal;
             height: 74px;
             background: transparent;
             border: 1.5px solid #DEDEDE;
             line-height: 79px;
             padding-left: 35px;
         }
         & .search-icon {
             color: $white;
             font-size: 25px;
             border: 0;
             background: $theme-color;
             width: 80px;
             height: 60px;
             right: 8px;
             line-height: 58px;
             @media #{$md} {
                 top: 44%;
             }
             @media #{$xs} {
                 top: 44%;
             }
         }
    }
}

.faq-que-details {
    & .card {
        background: $white;
        margin-bottom: 20px;
        & .card-header {
            & button {
                font-size: 24px;
                font-weight: 400;
                border: 0;
                background: $white;
                padding: 20px 70px 20px 70px;
                @media #{$lg} {
                    padding: 20px 10px 20px 60px;
                    font-size: 20px;
                }
                @media #{$xs} {
                    padding: 20px 10px 20px 35px;
                    font-size: 18px;
                }
                &::after {
                    content: '\f068';
                    font-family: 'Font Awesome 5 pro';
                    position: absolute;
                    background: unset;
                    font-size: 15px;
                    right: auto;
                    left: 40px;
                    top: 46%;
                    line-height: 6px;
                    @media #{$xs} {
                        left: 15px;
                    }
                }
                &.collapsed {
                    &::after {
                        content: '\f067';
                    }
                }
            }
        }
       & .card-body {
            padding-left: 70px;
            padding-right: 70px;
            @media #{$xs} {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
} 

