// Font Family
$barlow: 'Barlow', sans-serif;
$roboto: 'Roboto', sans-serif;
$gloss: 'gloss_and_bloomregular';


// Colors ---------------
$white: #ffffff;
$black: #000;
$black2: #0B0B0B;
$black3: #1B1B1B;
$black-soft: #343434;
$orange:#fa8549;
$yellow:#FFD36F;
$yellow-soft:rgb(254, 235, 223);
$yellow-soft-2:#FEEADE;
$grey-yellow-soft: rgb(253, 247, 243);
$grey:rgb(239, 240, 251);
$grey2:rgba(240, 245, 252, 0.8);
$pink-soft:#FFF2F2;
$sky-blue-soft:#C1E6E7;
$theme-color: #546bfb;
$theme-color2: #4C5CE1;
$body-text-color: #343434;
$hr-border-color:rgb(233, 233, 233);




// Heading Color
$heding: #000108;
$heding2: #1C0449;




// Responsive Variables
$xxl: 'only screen and (min-width: 1601px) and (max-width: 1900px)';
$xl: 'only screen and (min-width: 1601px) and (max-width: 1800px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

  