@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?70eab06860b7d32c6ef8be5bb55d03bc") format("truetype"),
url("../fonts/flaticon.woff?70eab06860b7d32c6ef8be5bb55d03bc") format("woff"),
url("../fonts/flaticon.woff2?70eab06860b7d32c6ef8be5bb55d03bc") format("woff2"),
url("../fonts/flaticon.eot?70eab06860b7d32c6ef8be5bb55d03bc#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?70eab06860b7d32c6ef8be5bb55d03bc#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-right-arrow:before {
    content: "\f101";
}
.flaticon-left-arrow:before {
    content: "\f102";
}
.flaticon-back:before {
    content: "\f103";
}
.flaticon-next:before {
    content: "\f104";
}
.flaticon-send:before {
    content: "\f105";
}
.flaticon-left-quote:before {
    content: "\f106";
}
.flaticon-down-chevron:before {
    content: "\f107";
}
.flaticon-checked:before {
    content: "\f108";
}
